<div id="outlier-detection"></div>
<br>
<form id="hide-outliers-form" style="display:none; margin-left: 20px">
    <label for="hide-outliers-checkbox">Hide outliers
        <input type="checkbox" id="hide-outliers-checkbox" onchange="wrc.outlierDetectionController.updatePlots()">
    </label>
    <br>
    <label for="outliers-guide-checkbox">Outliers guide plot
        <input type="checkbox" id="outliers-guide-checkbox" checked onchange="wrc.outlierDetectionController.updatePlots()">
    </label>
</form>
<br><br>
<form id="outlier-detection-form" style="display:none; margin-left: 20px">

    <div>
        <label for="filter">Tolerance:</label>
        <input id="filter" type="number" class="easyui-validatebox" data-options="validType:'numberBetween[0,100000]'" style="width: 60px">
        <input type="button" value="Filter" title="Filter outliers" onclick="wrc.outlierDetectionController.filterOutliers()">
    </div>
    <div style="margin-top: 10px">
        <label for="filter">Detection:</label>
        <input type="button" value="Detect" title="Automatically detects outliers" onclick="wrc.outlierDetectionController.detectOutliers()">
    </div>
    <div style="margin-top: 10px">
        <input type="button" value="Reset outliers" title="Reset outliers" onclick="wrc.outlierDetectionController.resetOutliers()">
    </div>
</form>
<br>

<script>
    // 'Enter' in Filter number input behaves like click on Filter button
    $('#filter').keypress(function(e){console.log("keypress", e.which);
        if ( e.which == 13 ) {
            wrc.outlierDetectionController.filterOutliers();
            return false;
        }
    });

    $.extend($.fn.validatebox.defaults.rules, {
            numberBetween: {
                validator: function(value,param){
                    return ! isNaN(value) && parseFloat(value) >= parseFloat(param[0]) && parseFloat(value) <= parseFloat(param[1]);
                },
                message: 'Value must be between {0} and {1}'
            }
        });

</script>

