<div id="plot"></div>
<select id="axis-button-0" style="display:none; position:absolute; top:35px; left:40px;" onchange="wrc.plotController.changeAxisScale(0)">
    <option value="linear" selected>linear</option>
    <option value="logarithmic">logarithmic</option>
</select>
<select id="axis-button-1" style="display:none; position:absolute; top:35px; right:40px;" onchange="wrc.plotController.changeAxisScale(1)">
    <option value="linear" selected>linear</option>
    <option value="logarithmic">logarithmic</option>
</select>
