* {
    font-family: Arial, Helvetica, sans-serif;
}

.easyui-info{
    background:#FFFEE6;
    color:#8F5700;
    padding:12px;
    margin-top: 10px;
}
.easyui-tip{
    width:16px;
    height:16px;
    margin-right:8px;
    float:left;
}

#experiment-info {
    margin: 10px;
}

#background-microplate, #well-set-microplate {
    margin: 10px;
}

/*------------------------------------------------
  Forms
------------------------------------------------*/

/*------------------------------------------------
  Experiment parameters form
------------------------------------------------*/
#experiment-parameters {
    margin: 10px;
}

form#experiment-parameters {
    width: 600px;
}

#experiment-parameters fieldset {
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

#experiment-parameters legend {
    font-weight: bold;
}

#experiment-parameters  .field {
    margin-top: 5px;
    margin-bottom: 5px;
}

#experiment-parameters input[type='submit'] {
    margin-left: 100px;
}

#experiment-parameters label {
    width: 350px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

#experiment-parameters #buttons {
    margin: 20px;
}

.icon-experiment {
	background:url('../images/experiment.png') no-repeat;
}
.icon-info {
	background:url('../images/info.png') no-repeat;
}
.icon-plot {
	background:url('../images/plot.png') no-repeat;
}

.icon-settings {
	background:url('../images/settings.png') no-repeat;
}

.icon-background {
	background:url('../images/background.png') no-repeat;
}

.icon-outliers {
	background:url('../images/outliers.png') no-repeat;
}


/*------------------------------------------------
  Background definition rectangular selection
------------------------------------------------*/

.selection-div{
    border:2px solid white;
    background:#1B94E0;
    opacity:0.4;
    -webkit-filter: opacity(0.4);
    margin:0;
    padding:0;
    display:none;
}

input:disabled {
    color:#aaa;
}

select:disabled {
    -webkit-filter: opacity(0.4);
}

.wait {cursor: wait;}

#help img {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px 1px lightgray;
}

#help .character-class {
    background-color: #ddd;
}

/*------------------------------------------------
  Background definition rectangular selection
------------------------------------------------*/

.modal-wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../images/wait.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-wait {
    display: block;
}

.page-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:    900;
    margin-top: -7px;
    margin-left: 20px;
    width: 20px;
    height: 10px;
}

#color-palette {
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 5px;
    height: 25px;
}

.color-wrapper {
    display: inline-block;
    height: 14px;
    padding: 1px;
    border: 2px solid white;
}

.color-cell {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.color-auto {
    display: inline-block;
    width: 24px;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding: 1px;
    vertical-align: top;;
    cursor: pointer;
}
